@inherits LayoutComponentBase

        <NavMenu />

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <TopBar />

            <!-- Begin Page Content -->
            <main class="container-fluid">
                @Body
            </main>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; The Masteries Quest @DateTime.Now.Year | <a href="https://github.com/mikaeldui/masteries-quest" target="_blank">GitHub</a> | Powered by Blazor WebAssembly and Cloudflare Workers</span>
                </div>
                <div class="copyright text-center my-auto" style="padding-top:12px"><span><b>The Masteries Quest</b> isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties. Riot Games, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->