@page "/"
@inject NavigationManager NavManager
@inject HttpClient Http
@inject ILocalStorageService localStorage
@inject IJSRuntime JSRuntime

<PageTitle>Champion Mastery (Blazor)</PageTitle>

<h1>Champion Mastery (Blazor)</h1>

<p class="mb-4">Use the search at the top.</p>

@code {

}