@page "/"
@inject HttpClient Http

<PageTitle>Champion Mastery (Blazor)</PageTitle>

<h1>Champion Mastery (Blazor)</h1>

Look up a summoner

<EditForm Model="@summonerSearch" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="summonerSearch.SummonerName" />
    <InputSelectEnum id="region" @bind-Value="summonerSearch.Region" />

    <button type="submit">Submit</button>
</EditForm>


<p role="status">Returned data: @returnedData</p>

@code {
    private string returnedData = "";
    private SummonerSearch summonerSearch = new();

    private async Task HandleValidSubmit()
    {
        if (summonerSearch.SummonerName == null || summonerSearch.Region == null)
            return;

        using (RiotGames.LeagueOfLegends.LeagueOfLegendsClient client = new("github", (Camille.Enums.PlatformRoute)summonerSearch.Region))
        {
            var summoner = await client.GetSummonerByNameAsync(summonerSearch.SummonerName);
            returnedData = $"{summoner.Name}, {summoner.SummonerLevel}, {summoner.EncryptedPuuid}";
        }
    }
}