@page "/"
@inject HttpClient Http

<PageTitle>Champion Mastery (Blazor)</PageTitle>

<h1>Champion Mastery (Blazor)</h1>

Look up a summoner

<EditForm Model="@summonerSearch" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="summonerSearch.SummonerName" />

    <button type="submit">Submit</button>
</EditForm>


<p role="status">Returned JSON: @returnedJson</p>

@code {
    private string returnedJson = "";
    private SummonerSearch summonerSearch = new();

    private async Task HandleValidSubmit()
    {
        if (summonerSearch.SummonerName == null)
            return;

        returnedJson = await Http.GetStringAsync($"https://api-riotgames.bolinder.uk/euw/lol/summoner/v4/summoners/by-name/{Uri.EscapeDataString(summonerSearch.SummonerName)}");
    }
}