@inherits LayoutComponentBase

        <NavMenu />

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <TopBar />

            <!-- Begin Page Content -->
            <main class="container-fluid">
                @Body
            </main>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <Footer />
    </div>
    <!-- End of Content Wrapper -->