@inject IJSRuntime JSRuntime

<div id="accordianSidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-trophy"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Masteries Quest</div>
    </a>

    <!-- Divider -->
    <nav class="animated--grow-in">

        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-fw fa-home"></i>
                <span>Home</span>
            </NavLink>
        </div>

        <hr class="sidebar-divider">

        <div class="nav-item">
            <NavLink class="nav-link" href="/highscores" Match="NavLinkMatch.All">
                <i class="fas fa-fw fa-bullseye"></i>
                <span>Highscores</span>
            </NavLink>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="d-flex justify-content-center">
            <button class="rounded-circle border-0" id="sidebarToggle" title="Toggle sidebar">
                <i class="fa-solid fa-angle-left" style="color: rgba(255, 255, 255, .5); margin-right: .1rem;"></i>
            </button>
        </div>
        
        <div class="sidebar-card d-none d-lg-flex animated--grow-in">
            <a href="ms-windows-store://pdp/?ProductId=9PGPC2D1SH2B&mode=mini">
                <img class="sidebar-card-illustration mb-2 align-self-center" src="https://getbadgecdn.azureedge.net/images/English_L.png" alt="Get it from Microsoft">
                <p class="text-center mb-2"><strong>The Store app</strong> is integrated with the League Client!</p>
                <a class="btn btn-success btn-sm" href="ms-windows-store://pdp/?ProductId=9PGPC2D1SH2B&mode=mini">Get it now!</a>
            </a>
        </div>
    </nav>
</div>

<style>
    body.sidebar-toggled .sidebar .sidebar-card {
        display: none !important;
    }
</style>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("LoadSbadmin2Script");
    }

}